body {
	background: url('./Pics/Mural.jpg') no-repeat;
	background-size: 100%;
	margin-left: 0%;
	margin-top: 0%;
	background-attachment: fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	 background-size: cover;
   }
   
   #imgdiv img{
	float: left;
	margin-left: 0%;
	margin-top: 0%;
	width: 100px;
	height:100px;
	opacity : .7;
   }
   #imgdiv img :hover{

	opacity: 1;
   }

   .footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
   }
   #imglogo2{
	   position: relative;
   }
   #imglogo2 img{
	margin-right: 20px;
	float: right;
	width: 200px;
	height: 60px;
	opacity: .8;
   }
   #mainul{
	padding: 25px;

   }
   ul {
	margin-top: 0px;
	padding: 0px;
	list-style: none;
	font-family: arial;
   }
   
   ul li {
	float: left;
	width: 200px;
	height: 40px;
	background-color: black;
	opacity: .7;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
   }
   
   ul li a {
	text-decoration: none;
	color: white;
	display: block;
   }
   
   ul li :hover {
	opacity: 1;
   }
   
   ul li ul li{
	display: none;
   }
   
   ul li:hover ul li {
	display: block;
	}
	
	.extra {

	margin : 5px 5px;
	float: left;
    width: 24.99999%;
    height: 300px;
	}